# NOTE: this .gitignore is local-only and removed from tracking
# Ignore data files
data/

# Ignore system files
.DS_Store
.gitattributes

# Ignore log files
*.iml

# PyCharm
.idea/

# Ignore images
output/

# Ignore training_results
training_results/

# Ignore tuning results
tuning_results/