# NOTE: this .gitignore is local-only and removed from tracking
# Ignore data files
data/

# Ignore system files
.DS_Store
.gitattributes

# Ignore log files
*.iml

# PyCharm
.idea/

# Ignore pycache
__pycache__/

# Ignore logs
logs/